<div class="center hero-unit">
  <h1>Harvard<font color="#92A0AD">Pulse</font></h1>

  <h2>
    Connecting you to live, on-campus events.
  </h2>

  <p>
    <script>
    $(function () {
        $('.pinimage').popover({ html : true });
    });
  </script>
    <%= link_to "View", microposts_path, class: "btn btn-large btn-primary myButton pinimage", title: "View", data: { content: "View real-time, on-campus events."}%>
  </p>
  <p>
    <%= link_to "Post", post_path, class: "btn btn-large btn-primary myButton pinimage", title: "Post", data: { content: "Add your own events. Sign in required."}%>
  </p>

</div>