<div class="center hero-unit">
  <h1>Harvard Pulse</font></h1>
  <!--<%= image_tag("pulse.png", alt: "HarvardPulse")%>-->
  <h2>
    Connecting you to live, on-campus events.
  </h2>

  
  <script>
    $(function () {
      $('.pinimage').popover({ html : true });
    });
  </script>
  <p>
    <a class="btn btn-large btn-primary myButton" href=<%= microposts_path %>><i class="icon-calendar"></i>&nbsp;&nbsp;View</a>
  </p>
  <p>
    <a class="btn btn-large btn-primary myButton" href=<%= post_path %>><i class="icon-plus"></i>&nbsp;&nbsp;Post</a>

</div>