<div class="row">
    <aside>
      <section class="span4">
        <%= render 'shared/user_info' %>
      </section>
      <section class="span6 offset3">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
</div>  