<% provide(:title, 'Events') %>
<h1>Events</h1>

<table class="table accordion-group">  
  <thead>  
    <tr>  
      <th>Event</th>  
      <th>Date</th>
      <th>Start time</th>  
      <th>End time</th>  
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <%= render @microposts %>
  </tbody>
</table>